<?xml version="1.0" encoding="UTF-8" ?>
<routes xmlns="http://camel.apache.org/schema/spring" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://camel.apache.org/schema/spring https://camel.apache.org/schema/spring/camel-spring.xsd">
    
    <route id="http-receiver">
        <from id="http-receiver-starter" uri="servlet://ping" />
        <to uri="bean:eventLogger?method=logStartAndBody" />
        <setHeader id="set-header-http-receiver" headerName="Content-Type">
            <constant>application/json</constant>
        </setHeader>
        <setBody  id="set-body-http-receiver">
            <constant>{"msg" : "HELLO"}</constant>
        </setBody>
        <to uri="bean:eventLogger?method=logElapsedTimeAndBody" />
    </route>

    <route>
        <from uri="direct:stream-transaction-history"/>
        <marshal>
            <json library="Jackson"/>
        </marshal>
        <to uri="kafka:transaction-history"/>
    </route>

    <route>
        <from uri="kafka:transaction-clearing"/>
        <unmarshal>
            <json library="Jackson" unmarshalTypeName="demo.model.UpdateBalanceResponse"/>
        </unmarshal>
        <bean ref="viewUpdate" method="upsertData(${body}, balance, state-table)"/>
    </route>
</routes>