<?xml version="1.0" encoding="UTF-8" ?>
<routes xmlns="http://camel.apache.org/schema/spring" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://camel.apache.org/schema/spring https://camel.apache.org/schema/spring/camel-spring.xsd">

    <route id="empty-sample-route">
        <from id="empty-sample-route-starter" uri="timer:start"/>
        <transform id="route-transform">
            <method ref="myTransformer"/>
        </transform>
        <log id="log-body" message=">>> ${body}"/>
    </route>

</routes>